@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-bricolage: var(--font-bricolage);
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(183, 183, 181, 0.25);
  }
}

* {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bricolage), sans-serif;
}

button {
  cursor: pointer;
}

.max-width {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

@media (max-width: 1279px) {
  .max-width {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .max-width {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .max-width {
    max-width: 640px;
  }
}
@media (max-width: 639px) {
  .max-width {
    padding-inline: 16px;
  }
}
